/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: beige;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

.img{
    display: flex;
    width: 40%;
    height: 95%;
    margin: 1% 1% 1% 1%;
    background: url(./images/gundam-by-bruce-tang.jpg) no-repeat center;
    background-size: cover;
    align-content: center;
    justify-content: center;
    border: 1px solid blue;
    border-radius: 5px;

}
.img-description{
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 100%;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    text-align: center;
    
}
a {
    color: inherit;
    text-decoration: inherit;
    text-align: center;
}

.form{
    width: 60%;
    margin: 0;
    padding: 0;
    margin-top: 5%;
}

.form > * {
    padding-left: 10%;
    padding-right: 10%;

}

.form-label{
    font-weight: 600;
    font-size: 20px;
    display: block;
    line-height: .5;
    transition: all 0.5s ;
    transform: translateY(-3.4rem);
}

.form-input{
    border: 2px solid blue;
    color: #333;
    font-size: 1.2rem;
    padding: 0.2rem 0.2rem;
    border-radius: 0.2rem;
    width: 100%;
    display: block;
    transition: all 0.5s;
    margin-top: 10%;
    padding-right: 10%;
}

.form-input:focus {
    transition: 0.2s;
    outline: none;
    border: 2px solid blue;
}

.form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
}

form {
    padding-top: 3%;
    width: 80%;
    margin-left: 0%;
    /* background-color: rgb(141,145, 141); */
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.inputs > :last-child {
    padding-left:  10%;
}


.form-end {
    margin-top: 20px;
    position: absolute;
    font-size: 10px;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    background-color: skyblue;
    color: orangered;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    border-bottom: 2px solid rgb(139, 139, 139);
    border-right: 2px solid rgb(139, 139, 139);
}

.btn:hover {
    outline: 0;
    box-shadow: inset 0px 0.8px 1px -0.25px rgba(255, 255, 255, 0.2),
      0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  }

  .login{
    color: orangered;
  }

  .error {
    border: 2px solid red;
  }
  .errorMessage {
    font-size: 25px;
    font-weight: 900;
    color: black;
  }